/* About.css */
.about-container {
    margin: 0;
    padding: 0;
    background-image: url(./images/Bluesky.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .content-section {
    /*margin: 0 auto;*/
    padding: 0 1.5em;
  }
  
  .header {
    font-weight: normal;
    text-align: center;
    font-size: 2.5em;
    padding-top: 2%;
  }
  
  p {
    color: black;
    font-size: 0.9em;
    text-align: justify;
  }
  
  .small-header {
    font-weight: normal;
    text-align: center;
  }

  .image {
    height: 300px;
    width: 400px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    margin: 30px;
  }
  
  /*
  .content-section {
    margin: 1em;
  
  }*/
  
.Harrow, .Lewisham, .Sutton {
  text-align: center;
}